<div class="footer" style="text-align: center; position: relative;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <%= image_tag "https://res.cloudinary.com/ddwuu1y0i/image/upload/v1571583486/logo-black.png", class: "navbar-logo my-4"%>
    <div class="footer-cities" style="justify-content: center;">
      <h3 style="margin: 0px 10px;">Bangladesh</h3>
      <h3 style="margin: 0px 10px;">London</h3>
    </div>
  </div>
</div>
