<div class="footer" style="text-align: center; position: relative;">
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <%= image_tag "logo-black", class: "navbar-logo my-4"%>
    <div class="footer-cities" style="justify-content: center;">
      <p>Hong Kong</p>
      <p>Bangladesh</p>
      <p>London</p>
      <p>Los Angeles</p>
    </div>
  </div>
</div>
