<header>
  <div id="carouselExampleIndicators" class="carousel slide"  data-interval="3500" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)),url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1569763429/blue-jeans-close-up-cloth-603022.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <%= image_tag "https://res.cloudinary.com/ddwuu1y0i/image/upload/v1571583486/logo-white.png", class: "homepage-logo" %>
        </div>
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)), url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1569763430/camera-contemporary-flash-134469.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)), url('https://res.cloudinary.com/ddwuu1y0i/image/upload/v1569763071/slide-3-min.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item" style="background-image: linear-gradient(rgba(25, 31, 31, 0.45), rgba(25, 31, 31, 0.45)), url('https://image.shutterstock.com/z/stock-photo-fashion-show-empty-stage-fashion-week-catwalk-runway-show-event-724220734.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
  </div>
</header>

<div style="height: 200px;">
</div>
